/*--- Colors ---*/

//General Colors
$shadow: rgba( 0, 0, 0, 0.3 );
$link-text: #3e4952;
$link-text-hover: darkgray;

//Banner Colors
$banner-text: black;

//Menu colors
$menu-text: black;
$menu-text-hover: darkgray;
$menu-background: white;

//general Container Colors
$container-background: white;
$container-border: lightgray;

//Footer Colors
$footer-text: gray;
$footer-link: #3e4952;

//Form colors
$button-background: white;
$button-text: #3e4952;
$button-border: #3e4952;
$button-background-hover: #3e4952;
$button-text-hover: white;
